test/My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "cca97723-7efd-4e92-b55a-22255b1371ab",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        680,
        1140
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "displayName": "={{ $json[\"properties\"][\"firstname\"] }}  {{ $json[\"properties\"][\"lastname\"] }}",
        "additionalFields": {}
      },
      "id": "df39fdbd-bd97-45d8-862f-a644bd4ce1cf",
      "name": "QuickBooks Online",
      "type": "n8n-nodes-base.quickbooks",
      "typeVersion": 1,
      "position": [
        1420,
        1140
      ],
      "credentials": {
        "quickBooksOAuth2Api": {
          "id": "8",
          "name": "QuickBooks Online account"
        }
      }
    },
    {
      "parameters": {
        "eventsUi": {
          "eventValues": [
            {
              "name": "deal.creation"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "9da72343-44b3-477b-9aac-d47e1863ffc7",
      "name": "HubSpot Trigger",
      "type": "n8n-nodes-base.hubspotTrigger",
      "typeVersion": 1,
      "position": [
        680,
        960
      ],
      "webhookId": "164844e9-328e-4482-865a-e2a98bc8acd1",
      "credentials": {
        "hubspotDeveloperApi": {
          "id": "13",
          "name": "HubSpot Developer account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "get",
        "dealId": "11775592335",
        "additionalFields": {}
      },
      "id": "76d54fe1-16b4-4bf9-8dab-dbcea31a2ef9",
      "name": "HubSpot1",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [
        980,
        1140
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "11",
          "name": "HubSpot App Token account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v4/objects/deals/{{ $json[\"dealId\"] }}/associations/contacts?limit=50",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Amount closed",
              "value": "={{ $json[\"properties\"][\"hs_closed_amount_in_home_currency\"] }}"
            },
            {
              "name": "DealName",
              "value": "={{ $json[\"properties\"][\"dealname\"][\"value\"] }}"
            },
            {
              "name": "Deal Creation Date",
              "value": "={{ $json[\"properties\"][\"createdate\"][\"timestamp\"] }}"
            },
            {
              "name": "Close Date",
              "value": "={{ $json[\"properties\"][\"closedate\"][\"value\"] }}"
            },
            {
              "name": "Currency",
              "value": "={{ $json[\"properties\"][\"deal_currency_code\"][\"versions\"][0][\"value\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f775edb0-13d2-4f5b-a637-8d8394193c93",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1120,
        1140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Header Auth account"
        },
        "httpBasicAuth": {
          "id": "12",
          "name": "Unnamed credential"
        },
        "hubspotAppToken": {
          "id": "11",
          "name": "HubSpot App Token account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "invoice",
        "operation": "create",
        "CustomerRef": "={{ $json[\"Id\"] }}",
        "Line": [
          {
            "Description": "=Amount Billed in  {{ $json[\"CurrencyRef\"][\"name\"] }} ({{ $json[\"CurrencyRef\"][\"value\"] }})",
            "Amount": "={{ $json[\"properties\"][\"hs_closed_amount_in_home_currency\"][\"value\"] }}",
            "DetailType": "SalesItemLineDetail",
            "itemId": "12",
            "TaxCodeRef": "5"
          }
        ],
        "additionalFields": {}
      },
      "id": "061cebc2-59fe-4f12-b000-04b1bb1a2361",
      "name": "QuickBooks Online1",
      "type": "n8n-nodes-base.quickbooks",
      "typeVersion": 1,
      "position": [
        2040,
        1260
      ],
      "credentials": {
        "quickBooksOAuth2Api": {
          "id": "8",
          "name": "QuickBooks Online account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json[\"results\"][0][\"toObjectId\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Amount closed",
              "value": "={{ $json[\"properties\"][\"hs_closed_amount_in_home_currency\"] }}"
            },
            {
              "name": "DealName",
              "value": "={{ $json[\"properties\"][\"dealname\"][\"value\"] }}"
            },
            {
              "name": "Deal Creation Date",
              "value": "={{ $json[\"properties\"][\"createdate\"][\"timestamp\"] }}"
            },
            {
              "name": "Close Date",
              "value": "={{ $json[\"properties\"][\"closedate\"][\"value\"] }}"
            },
            {
              "name": "Currency",
              "value": "={{ $json[\"properties\"][\"deal_currency_code\"][\"versions\"][0][\"value\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ae5b4282-d2de-470d-a6cd-4327d65189be",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1280,
        1140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Header Auth account"
        },
        "httpBasicAuth": {
          "id": "12",
          "name": "Unnamed credential"
        },
        "hubspotAppToken": {
          "id": "11",
          "name": "HubSpot App Token account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "get",
        "dealId": "11775592335",
        "additionalFields": {}
      },
      "id": "d2ad7420-537b-4125-9b46-88349ea230ae",
      "name": "HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [
        1620,
        960
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "11",
          "name": "HubSpot App Token account 2"
        }
      }
    },
    {
      "parameters": {
        "customerId": "={{ $json[\"Id\"] }}"
      },
      "id": "8947c2ac-c87b-45d0-af66-5dd38a7359d5",
      "name": "QuickBooks Online2",
      "type": "n8n-nodes-base.quickbooks",
      "typeVersion": 1,
      "position": [
        1620,
        1300
      ],
      "credentials": {
        "quickBooksOAuth2Api": {
          "id": "8",
          "name": "QuickBooks Online account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "7eb2d7bd-6a65-4506-a8db-3d6993a058bc",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1800,
        1100
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v3/objects/quotes/{{ $json[\"id\"] }}/associations/0-3/{{ $json[\"dealId\"] }} ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "2a43b60a-9d10-4bbe-9189-99d75defe147",
      "name": "associate HS quote -> deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2480,
        980
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/quotes/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"properties\": {    \n        \"hs_expiration_date\": \"2023-10-30T03:30:17.883Z\",\n        \"hs_title\": \"{{ $json[\"properties\"][\"dealname\"][\"value\"] }}\"\n    }\n}  ",
        "options": {}
      },
      "id": "4d8f6c69-aba5-412e-9621-840d54825892",
      "name": "create HS quote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2040,
        1100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account 2"
        },
        "hubspotAppToken": {
          "id": "11",
          "name": "HubSpot App Token account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "609396ea-0ae9-4d4b-b77f-78e8666e1956",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2300,
        980
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "HubSpot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuickBooks Online": {
      "main": [
        [
          {
            "node": "HubSpot",
            "type": "main",
            "index": 0
          },
          {
            "node": "QuickBooks Online2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "QuickBooks Online",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuickBooks Online2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "QuickBooks Online1",
            "type": "main",
            "index": 0
          },
          {
            "node": "create HS quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create HS quote": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "associate HS quote -> deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "b267afc0-6785-4ef4-b523-ea12de69e847",
  "id": "4",
  "meta": {
    "instanceId": "efa9e5aadca3d2c0c27c71121085bdd2a5d75fc92bdc55ab74232b8c0d0a42e6"
  },
  "tags": []
}