5.json
{
  "createdAt": "2023-01-12T09:35:44.172Z",
  "updatedAt": "2023-01-31T12:43:50.000Z",
  "id": "5",
  "name": "HS to QB integration POC",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "e2c43c47-0101-4419-b399-fa846607df8b",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        480,
        320
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "displayName": "={{ $json[\"properties\"][\"firstname\"] }}  {{ $json[\"properties\"][\"lastname\"] }}",
        "additionalFields": {}
      },
      "id": "96596bfd-667e-4ece-b2fb-10624120ce0c",
      "name": "QuickBooks Online",
      "type": "n8n-nodes-base.quickbooks",
      "typeVersion": 1,
      "position": [
        1220,
        320
      ],
      "credentials": {
        "quickBooksOAuth2Api": {
          "id": "8",
          "name": "QuickBooks Online account"
        }
      }
    },
    {
      "parameters": {
        "eventsUi": {
          "eventValues": [
            {
              "name": "deal.creation"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "d0a90d85-2c0d-4cdc-87aa-4734ca31863b",
      "name": "HubSpot Trigger",
      "type": "n8n-nodes-base.hubspotTrigger",
      "typeVersion": 1,
      "position": [
        480,
        140
      ],
      "webhookId": "164844e9-328e-4482-865a-e2a98bc8acd1",
      "credentials": {
        "hubspotDeveloperApi": {
          "id": "13",
          "name": "HubSpot Developer account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "get",
        "dealId": "11775592335",
        "additionalFields": {}
      },
      "id": "c1508090-71ad-4f47-beff-c662d9ab9e2a",
      "name": "HubSpot1",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [
        780,
        320
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "11",
          "name": "HubSpot App Token account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v4/objects/deals/{{ $json[\"dealId\"] }}/associations/contacts?limit=50",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Amount closed",
              "value": "={{ $json[\"properties\"][\"hs_closed_amount_in_home_currency\"] }}"
            },
            {
              "name": "DealName",
              "value": "={{ $json[\"properties\"][\"dealname\"][\"value\"] }}"
            },
            {
              "name": "Deal Creation Date",
              "value": "={{ $json[\"properties\"][\"createdate\"][\"timestamp\"] }}"
            },
            {
              "name": "Close Date",
              "value": "={{ $json[\"properties\"][\"closedate\"][\"value\"] }}"
            },
            {
              "name": "Currency",
              "value": "={{ $json[\"properties\"][\"deal_currency_code\"][\"versions\"][0][\"value\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac6d7706-d78e-4350-80d2-6de9fa49b333",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        920,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Header Auth account"
        },
        "httpBasicAuth": {
          "id": "12",
          "name": "Unnamed credential"
        },
        "hubspotAppToken": {
          "id": "11",
          "name": "HubSpot App Token account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "invoice",
        "operation": "create",
        "CustomerRef": "={{ $json[\"Id\"] }}",
        "Line": [
          {
            "Description": "=Amount Billed in  {{ $json[\"CurrencyRef\"][\"name\"] }} ({{ $json[\"CurrencyRef\"][\"value\"] }})",
            "Amount": "={{ $json[\"properties\"][\"hs_closed_amount_in_home_currency\"][\"value\"] }}",
            "DetailType": "SalesItemLineDetail",
            "itemId": "12",
            "TaxCodeRef": "5"
          }
        ],
        "additionalFields": {}
      },
      "id": "bed28150-16eb-462e-bf3d-798cd579e3de",
      "name": "QuickBooks Online1",
      "type": "n8n-nodes-base.quickbooks",
      "typeVersion": 1,
      "position": [
        1840,
        440
      ],
      "credentials": {
        "quickBooksOAuth2Api": {
          "id": "8",
          "name": "QuickBooks Online account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json[\"results\"][0][\"toObjectId\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Amount closed",
              "value": "={{ $json[\"properties\"][\"hs_closed_amount_in_home_currency\"] }}"
            },
            {
              "name": "DealName",
              "value": "={{ $json[\"properties\"][\"dealname\"][\"value\"] }}"
            },
            {
              "name": "Deal Creation Date",
              "value": "={{ $json[\"properties\"][\"createdate\"][\"timestamp\"] }}"
            },
            {
              "name": "Close Date",
              "value": "={{ $json[\"properties\"][\"closedate\"][\"value\"] }}"
            },
            {
              "name": "Currency",
              "value": "={{ $json[\"properties\"][\"deal_currency_code\"][\"versions\"][0][\"value\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9f66b33a-ed3d-4ad0-b184-da14a261081f",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1080,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Header Auth account"
        },
        "httpBasicAuth": {
          "id": "12",
          "name": "Unnamed credential"
        },
        "hubspotAppToken": {
          "id": "11",
          "name": "HubSpot App Token account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "get",
        "dealId": "11775592335",
        "additionalFields": {}
      },
      "id": "d17272c1-d046-4b33-8c1d-a7e8c93319fd",
      "name": "HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [
        1420,
        140
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "11",
          "name": "HubSpot App Token account 2"
        }
      }
    },
    {
      "parameters": {
        "customerId": "={{ $json[\"Id\"] }}"
      },
      "id": "b0619df4-d258-4356-a769-0b9d017c280d",
      "name": "QuickBooks Online2",
      "type": "n8n-nodes-base.quickbooks",
      "typeVersion": 1,
      "position": [
        1420,
        480
      ],
      "credentials": {
        "quickBooksOAuth2Api": {
          "id": "8",
          "name": "QuickBooks Online account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "fe0bfe77-e6f0-4896-9244-15e786085c43",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1600,
        280
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v3/objects/quotes/{{ $json[\"id\"] }}/associations/0-3/{{ $json[\"dealId\"] }} ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "aac148fb-3f1c-47e9-9570-431c45633ad3",
      "name": "associate HS quote -> deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2280,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/quotes/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"properties\": {    \n        \"hs_expiration_date\": \"2023-10-30T03:30:17.883Z\",\n        \"hs_title\": \"{{ $json[\"properties\"][\"dealname\"][\"value\"] }}\"\n    }\n}  ",
        "options": {}
      },
      "id": "2cb11264-facb-4072-9c49-449493545d3f",
      "name": "create HS quote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1840,
        280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account 2"
        },
        "hubspotAppToken": {
          "id": "11",
          "name": "HubSpot App Token account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "ba863140-27b1-4ff5-a5c7-655fcdc95095",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2100,
        160
      ]
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "HubSpot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuickBooks Online": {
      "main": [
        [
          {
            "node": "HubSpot",
            "type": "main",
            "index": 0
          },
          {
            "node": "QuickBooks Online2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "QuickBooks Online",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuickBooks Online2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "QuickBooks Online1",
            "type": "main",
            "index": 0
          },
          {
            "node": "create HS quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create HS quote": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "associate HS quote -> deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "pinData": {},
  "versionId": "097967b1-a158-4ace-86b6-5d21e48a8d08",
  "triggerCount": 0,
  "tags": []
}