6.json
{
  "createdAt": "2023-01-31T08:37:20.485Z",
  "updatedAt": "2023-03-07T08:25:04.000Z",
  "id": "6",
  "name": "hubdb delete poc",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "07d396d0-94ef-486a-9bf7-317a5bdd8584",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        560,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/cms/v3/hubdb/tables/5854136/rows/draft/batch/purge",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": [\n  {{ $json[\"specifiedRows\"].slice(0,-1) }}\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "87b05a1f-46f0-47e2-8b86-39c457f03472",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1880,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account 2"
        },
        "httpBasicAuth": {
          "id": "12",
          "name": "Unnamed credential"
        },
        "hubspotAppToken": {
          "id": "11",
          "name": "HubSpot App Token account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/hubdb/api/v2/tables/5854136/rows/draft",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "55f26167-3eba-42cd-8a13-fe47ea9b5c7f",
      "name": "Get all rows from specified table ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1040,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account 2"
        },
        "httpBasicAuth": {
          "id": "12",
          "name": "Unnamed credential"
        },
        "hubspotAppToken": {
          "id": "11",
          "name": "HubSpot App Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "//this loop iterates through the given json , extracts the Row ID's and puts them into\n//another object within the json called id's.\n\nlet arrayRowId = [];\n                let toloopthrough = items[0].json.objects;\n                for (let i = 0; i < toloopthrough.length; i++) {\n                  arrayRowId=arrayRowId+ '\"' + toloopthrough[i][\"id\"]+ '\"' + \",\";\n                }\nitems[0].json.ids = arrayRowId\n\n//delete all irrelvant data (some cleanup)\n\ndelete items[0].json.objects\ndelete items[0].json.total\ndelete items[0].json.limit\ndelete items[0].json.offset\ndelete items[0].json.message\ndelete items[0].json.totalCount\n\n\nreturn items;"
      },
      "id": "77aa85b9-3648-4afd-82b4-b8512b14a23e",
      "name": "Delete all rows in table",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1460,
        180
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "//this loop iterates through the given json , extracts the Row ID's and puts them into\n//another object within the json called id's.\nlet start = 3;\nlet end = 8;\nlet arrayRowId = [];\n                let toloopthrough = items[0].json.objects;\n                for (let i = 0; i < toloopthrough.length; i++) {\n                  arrayRowId=arrayRowId+ '\"' + toloopthrough[i][\"id\"]+ '\"' + \",\";\n                }\n\nconst shit = arrayRowId.split(\",\");\n// use the loop below to delete specific rows based on ID .\n//for example , delete rows 10 to 20\nitems[0].json.newshit = shit;\n\nlet specifiedRows = [];\n for (let i = start -1; i <= end - 1; i++) {\n                 specifiedRows.push(shit[i]);\n                }\nitems[0].json.specifiedRows = specifiedRows;\n// delete items[0].json.objects\n// delete items[0].json.total\n// delete items[0].json.limit\n// delete items[0].json.offset\n// delete items[0].json.message\n// delete items[0].json.totalCount\n\n\nreturn items;"
      },
      "id": "449a6497-a1d7-4c78-9110-26968ac99e78",
      "name": "Delete all rows in table1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1460,
        540
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "start",
              "value": 3
            },
            {
              "name": "end",
              "value": 8
            }
          ]
        },
        "options": {}
      },
      "id": "223f090f-53d5-44dc-86f9-910364138b6e",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        780,
        320
      ]
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all rows from specified table ID": {
      "main": [
        [
          {
            "node": "Delete all rows in table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete all rows in table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Get all rows from specified table ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete all rows in table1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete all rows in table": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "pinData": {},
  "versionId": "4cc1503d-5850-42b8-a9d5-0c9b8867abfe",
  "triggerCount": 0,
  "tags": []
}