githubto n8n integration working.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 8 hours": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-15T12:58:09.808Z",
  "id": "3",
  "name": "github to n8n integration working",
  "nodes": [
    {
      "parameters": {},
      "id": "fe954e28-fe1e-4449-b0d0-3151bd85e5a9",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -620,
        1220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
          "mode": "name"
        },
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{ $node[\"Globals\"].json[\"repo\"][\"path\"] }}{{$node[\"OneAtATime\"].json[\"name\"].replace(\" \", \"\")}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "e0e89e7a-d4e1-455e-a75c-cf49b9090bf4",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        1280,
        980
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "4",
          "name": "GitHub account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "3dfc502c-6162-44b0-919e-9b340a5e0f40",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        2020,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5cc94af7-634f-4a7f-a018-e175255d01b1",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2220,
        900
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "18b68260-96e0-4d78-8634-20a48113b824",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2220,
        1100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "fef72298-8e50-4dbb-95a6-48a74263e17e",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2220,
        1280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{ $node[\"Globals\"].json[\"repo\"][\"path\"] }}{{$node[\"OneAtATime\"].json[\"name\"].replace(\" \", \"\")}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "7f07db89-e389-481a-9d1c-a5846c95b3f2",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        2400,
        1100
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "4",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{ $node[\"Globals\"].json[\"repo\"][\"path\"] }}{{$node[\"OneAtATime\"].json[\"name\"].replace(\" \", \"\")}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "fa7b48f0-b052-48b4-9dfe-3cc34fe26b70",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        2400,
        1280
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "4",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "d6d4e5e2-cf77-40f8-8595-51dea987a73a",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1060,
        1140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "HubleScripts"
            },
            {
              "name": "repo.name",
              "value": "n8n_workflow_backup"
            },
            {
              "name": "repo.path"
            }
          ]
        },
        "options": {}
      },
      "id": "4b9729f1-e74f-47dd-b677-11bd17d9c114",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -140,
        1140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow Backups\nThis workflow will automatically backup your workflows to your Github account every 12 hours.\n\n### Setup\nOpen Globals and update the values below\n**repo.owner:** This is your Github username\n**repo.name:** This is the name of your repository\n**repo.path:** This is the folder to use within the repository, If it doesn't exist it will be created.\n\nIf your username was `n8n-io` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\nrepo.owner - n8n-io\nrepo.name - n8n-backups\nrepo.path - workflows\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nPath within GH repo can be setup customly according to whoever is using the workflow \n\nEg. John_Dev/Johns_workflows.json",
        "height": 702.6675379604683,
        "width": 389.78906250000017
      },
      "id": "1f24a8ca-3a95-4042-8d44-aca10b336907",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -260,
        718.8183333333332
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Single Item Loop\nWe process each workflow item one at a time, We first check Github to see if a file exists then we merge the Github Data and the API item so we can check if the values match in the function node `isDiffOrNew` we then set a status of `same`, `different` or `new`",
        "height": 657.8800000000006,
        "width": 825.7891666666661
      },
      "id": "4efd916c-5b35-4963-b02b-f8d7f226d3ff",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save the data\nUsing the switch node we work out what to do based on the previous status,  If it is the same we do nothing, If it is different we update the file in Github and if it is new we create a new file. After this is done we loop back to the Split in Batches node (OneAtAtTime) to start the process again.",
        "height": 724.1658333333327,
        "width": 700.7108333333329
      },
      "id": "a3f90bf4-c430-4f1d-8375-5ef098e2256a",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1940,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "361ebc25-7aed-4b5c-ad37-88ff451a2d05",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        1680,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "ac3b7b34-4287-4e7e-9af7-64cbf4857465",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1500,
        1120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://huble-dev.herokuapp.com/api/v1/workflows?active=false",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "10752a79-dc42-4682-a8f4-ee27d925bdd6",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        320,
        1140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 8
            }
          ]
        }
      },
      "id": "ec74c42d-5f53-4c9a-bb6f-cb50bbca192a",
      "name": "Every 8 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -620,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "7448a164-d219-479f-a11b-15ba25507773",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        620,
        1140
      ]
    },
    {
      "parameters": {
        "content": "here we break the single JSON file pulled from the heroku API HTTP request node , into seperate workflow jsons .\n\nOtherwise everything becomes a messy merged single file",
        "height": 375.45302894211557,
        "width": 233.48668163672636
      },
      "id": "1260aa88-ea8b-4650-9e53-1b4f4d6fbceb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        960
      ]
    },
    {
      "parameters": {
        "content": "Making API call to heroku public API to get all current workflows on users instance on n8n\n\nDOCS: https://huble-dev.herokuapp.com/api/v1/docs/",
        "height": 375.4530289421158,
        "width": 233.48668163672636
      },
      "id": "88a1a1a5-ebcc-4ac1-8b06-1ad907e73bac",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        960
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-05-26T13:47:24.087Z",
  "versionId": "6ea40a46-4dc2-492d-a0d4-a78e0bc78f7c"
}