MolefeMashiane.json
{
  "active": true,
  "connections": {
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yadera created": {
      "main": [
        [
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HD Diary Firebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yadera Updated": {
      "main": [
        [
          {
            "node": "HD Diary Firebase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HD Diary Firebase1": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "HD Diary Firebase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HD Diary Firebase3": {
      "main": [
        [
          {
            "node": "Google Calendar5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar5": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar6": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HD Diary Firebase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-23T08:52:57.314Z",
  "id": "103",
  "name": "Molefe Mashiane",
  "nodes": [
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "molefe.mashiane@hubledigital.com",
          "mode": "list",
          "cachedResultName": "molefe.mashiane@hubledigital.com"
        },
        "start": "={{ $json.start.dateTime }}",
        "end": "={{ $json.end.dateTime }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $json.summary }}"
        }
      },
      "id": "1d7e746b-0206-4d5e-90b3-0235847d0cb8",
      "name": "Google Calendar1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1140,
        694.0465250606362
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86",
          "name": "Molefe Mashiane"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "c_5rbvc37419dif87uvvtk26iro0@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Yadera Planning"
        },
        "triggerOn": "eventCreated",
        "options": {}
      },
      "id": "9cc3f9b0-49d1-441f-84c7-2efbe6a77810",
      "name": "Yadera created",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        820,
        520
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86",
          "name": "Molefe Mashiane"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "projectId": "outlook-sync-6a4a2",
        "collection": "CalendarMatches",
        "columns": "Huble_ID, Yadera_ID"
      },
      "id": "37b0f7c8-a40e-429a-8897-6b9c0269a836",
      "name": "HD Diary Firebase",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1840,
        574.0465250606362
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Yadera_ID",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e9d5d353-729e-40a2-95cc-bc9d96745437",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1400,
        514.0465250606362
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Huble_ID",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "51a2eb5b-f35f-466a-9a27-92b6d094498a",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1400,
        654.0465250606362
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "5003f7f5-c2d8-41df-8dc1-77539de8712b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1680,
        574.0465250606362
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "c_5rbvc37419dif87uvvtk26iro0@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Yadera Planning"
        },
        "triggerOn": "eventUpdated",
        "options": {}
      },
      "id": "72dfbbd5-ea07-4d3e-9e26-6f1bb0f94cd9",
      "name": "Yadera Updated",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        800,
        854.0465250606362
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86",
          "name": "Molefe Mashiane"
        }
      }
    },
    {
      "parameters": {
        "operation": "query",
        "projectId": "outlook-sync-6a4a2",
        "query": "={   \"structuredQuery\": {     \"where\": {       \"fieldFilter\": {         \"field\": {           \"fieldPath\": \"Yadera_ID\"         },         \"op\": \"EQUAL\",         \"value\": {           \"stringValue\": \"{{ $json[\"id\"] }}\"         }       }     },     \"from\": [       {         \"collectionId\": \"CalendarMatches\"       }     ]   } }",
        "simple": "true"
      },
      "id": "54befa7b-a92d-41b3-ab13-df3ed535ed39",
      "name": "HD Diary Firebase1",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1000,
        854.0465250606362
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "molefe.mashiane@hubledigital.com",
          "mode": "list",
          "cachedResultName": "molefe.mashiane@hubledigital.com"
        },
        "eventId": "={{ $json.Huble_ID }}",
        "updateFields": {
          "end": "={{ $node[\"Yadera Updated\"].json[\"end\"][\"dateTime\"] }}",
          "start": "={{ $node[\"Yadera Updated\"].json[\"start\"][\"dateTime\"] }}"
        }
      },
      "id": "048ccaf8-6e63-494f-b7ce-dda6c497486d",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1220,
        860
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86",
          "name": "Molefe Mashiane"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"status\"] }}",
              "value2": "cancelled"
            }
          ]
        }
      },
      "id": "864d0d47-ba37-4aaf-a080-d957ef81951c",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        1014.0465250606362
      ]
    },
    {
      "parameters": {
        "operation": "query",
        "projectId": "outlook-sync-6a4a2",
        "query": "={   \"structuredQuery\": {     \"where\": {       \"fieldFilter\": {         \"field\": {           \"fieldPath\": \"Yadera_ID\"         },         \"op\": \"EQUAL\",         \"value\": {           \"stringValue\": \"{{ $json[\"id\"] }}\"         }       }     },     \"from\": [       {         \"collectionId\": \"CalendarMatches\"       }     ]   } }",
        "simple": "true"
      },
      "id": "ff56d9c5-2408-4944-bbeb-6f4f4521496d",
      "name": "HD Diary Firebase3",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1400,
        1014.0465250606362
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "molefe.mashiane@hubledigital.com",
          "mode": "list",
          "cachedResultName": "molefe.mashiane@hubledigital.com"
        },
        "eventId": "={{ $json.Huble_ID }}",
        "options": {}
      },
      "id": "cdc572f1-b22e-406a-be60-db4f052c2798",
      "name": "Google Calendar5",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1600,
        1020
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86",
          "name": "Molefe Mashiane"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_5rbvc37419dif87uvvtk26iro0@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Yadera Planning"
        },
        "returnAll": true,
        "options": {
          "orderBy": "updated",
          "showDeleted": true,
          "updatedMin": "={{$now.minus({minutes: 30}).toString()}}"
        }
      },
      "id": "add1f8c4-4794-4c5b-b774-e0577a20aac7",
      "name": "Google Calendar6",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        980,
        1014.0465250606362
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86",
          "name": "Molefe Mashiane"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "projectId": "outlook-sync-6a4a2",
        "collection": "CalendarMatches",
        "documentId": "={{ $node[\"HD Diary Firebase3\"].json[\"_id\"] }}"
      },
      "id": "daaec623-84fb-475a-a80c-991fdfa34f5a",
      "name": "HD Diary Firebase2",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        2040,
        1014.0465250606362
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {}
          ]
        }
      },
      "id": "1e225826-3b95-4651-a52d-a1ea944f96e6",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        1014.0465250606362
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Africa/Johannesburg"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "node:Yadera created": {
      "lastTimeChecked": "2023-05-25T15:35:01Z"
    },
    "node:Yadera Updated": {
      "lastTimeChecked": "2023-05-25T15:35:01Z"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-05-25T15:35:01.772Z",
  "versionId": "f632bb18-db66-4749-b385-22c0a53bc334"
}