PaulKirstein.json
{
  "active": true,
  "connections": {
    "Yadera Updated": {
      "main": [
        [
          {
            "node": "HD Diary Firebase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HD Diary Firebase1": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "HD Diary Firebase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HD Diary Firebase3": {
      "main": [
        [
          {
            "node": "Google Calendar5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar5": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar6": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HD Diary Firebase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yadera created": {
      "main": [
        [
          {
            "node": "HD Diary Firebase6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HD Diary Firebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HD Diary Firebase6": {
      "main": [
        [
          {
            "node": "IF Is Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar3": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HD Diary Firebase7": {
      "main": [
        [
          {
            "node": "Google Calendar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is Empty?": {
      "main": [
        [
          {
            "node": "HD Diary Firebase7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-21T09:09:13.850Z",
  "id": "41",
  "name": "Paul Kirstein",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "c_05068rfi511a45hma55ph8obqg@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Yadera Planning"
        },
        "triggerOn": "eventUpdated",
        "options": {}
      },
      "id": "d5ab7eee-661b-44b4-9755-5d5d1368a37f",
      "name": "Yadera Updated",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        800,
        854.0465250606362
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "19",
          "name": "Paul Kirstein"
        }
      }
    },
    {
      "parameters": {
        "operation": "query",
        "projectId": "outlook-sync-6a4a2",
        "query": "={   \"structuredQuery\": {     \"where\": {       \"fieldFilter\": {         \"field\": {           \"fieldPath\": \"Yadera_ID\"         },         \"op\": \"EQUAL\",         \"value\": {           \"stringValue\": \"{{ $json[\"id\"] }}\"         }       }     },     \"from\": [       {         \"collectionId\": \"CalendarMatches\"       }     ]   } }",
        "simple": "true"
      },
      "id": "37de8dcd-3a3e-4308-b9d7-4e7fd79c75fc",
      "name": "HD Diary Firebase1",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1000,
        854.0465250606362
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "paul.kirstein@hubledigital.com",
          "mode": "list",
          "cachedResultName": "paul.kirstein@hubledigital.com"
        },
        "eventId": "={{ $json.Huble_ID }}",
        "updateFields": {
          "end": "={{ $node[\"Yadera Updated\"].json[\"end\"][\"dateTime\"] }}",
          "start": "={{ $node[\"Yadera Updated\"].json[\"start\"][\"dateTime\"] }}"
        }
      },
      "id": "b02b1dfe-902f-4b96-aa29-d4d49340c3b2",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1220,
        854.0465250606362
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "19",
          "name": "Paul Kirstein"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"status\"] }}",
              "value2": "cancelled"
            }
          ]
        }
      },
      "id": "db1f8388-8887-42ac-a185-4ecb2bee9e7a",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        1014.0465250606362
      ]
    },
    {
      "parameters": {
        "operation": "query",
        "projectId": "outlook-sync-6a4a2",
        "query": "={   \"structuredQuery\": {     \"where\": {       \"fieldFilter\": {         \"field\": {           \"fieldPath\": \"Yadera_ID\"         },         \"op\": \"EQUAL\",         \"value\": {           \"stringValue\": \"{{ $json[\"id\"] }}\"         }       }     },     \"from\": [       {         \"collectionId\": \"CalendarMatches\"       }     ]   } }",
        "simple": "true"
      },
      "id": "eb83048d-0db9-4456-b485-63027e75770f",
      "name": "HD Diary Firebase3",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1400,
        1014.0465250606362
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "paul.kirstein@hubledigital.com",
          "mode": "list",
          "cachedResultName": "paul.kirstein@hubledigital.com"
        },
        "eventId": "={{ $json.Huble_ID }}",
        "options": {}
      },
      "id": "09c51104-0d63-48d3-a0df-c32c013fb60c",
      "name": "Google Calendar5",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1600,
        1014.0465250606362
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "19",
          "name": "Paul Kirstein"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_05068rfi511a45hma55ph8obqg@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Yadera Planning"
        },
        "returnAll": true,
        "options": {
          "orderBy": "updated",
          "showDeleted": true,
          "updatedMin": "={{$now.minus({minutes: 30}).toString()}}"
        }
      },
      "id": "eea6d992-9856-49a6-91e2-89b2cf79dd8f",
      "name": "Google Calendar6",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        980,
        1014.0465250606362
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "19",
          "name": "Paul Kirstein"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "projectId": "outlook-sync-6a4a2",
        "collection": "CalendarMatches",
        "documentId": "={{ $node[\"HD Diary Firebase3\"].json[\"_id\"] }}"
      },
      "id": "9929b383-faad-4aa6-8838-18398d62d867",
      "name": "HD Diary Firebase2",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        2040,
        1014.0465250606362
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {}
          ]
        }
      },
      "id": "c9b67678-a167-47b8-8b82-1d37d64406b0",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        1014.0465250606362
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "paul.kirstein@hubledigital.com",
          "mode": "list",
          "cachedResultName": "paul.kirstein@hubledigital.com"
        },
        "start": "={{ $node[\"Yadera created\"].json[\"start\"][\"dateTime\"] }}",
        "end": "={{ $node[\"Yadera created\"].json[\"end\"][\"dateTime\"] }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $node[\"Yadera created\"].json[\"summary\"] }}"
        }
      },
      "id": "e41adfa5-fbeb-4b60-8062-79ce569fbfdf",
      "name": "Google Calendar1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1920,
        500
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "19",
          "name": "Paul Kirstein"
        }
      }
    },
    {
      "parameters": {
        "calendarId": {
          "__rl": true,
          "value": "c_05068rfi511a45hma55ph8obqg@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Yadera Planning"
        },
        "triggerOn": "eventCreated",
        "options": {}
      },
      "id": "715f54d7-6283-430e-b4e9-8698c1e70a42",
      "name": "Yadera created",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        800,
        640
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "19",
          "name": "Paul Kirstein"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "projectId": "outlook-sync-6a4a2",
        "collection": "CalendarMatches",
        "columns": "Yadera_ID,  Huble_ID"
      },
      "id": "dd6c79db-ee5e-4525-83aa-9762528c425c",
      "name": "HD Diary Firebase",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        2540,
        420
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Yadera_ID",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9e8820f2-32ea-413d-af88-9b4cac960273",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2100,
        360
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "4e11e3a1-85b8-49e8-83db-73caa3ef767f",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2380,
        420
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Huble_ID",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "092bd4e8-b63b-41ca-ad19-e1da3eda77b7",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2100,
        500
      ]
    },
    {
      "parameters": {
        "content": "if FB query returns true, update event . \n\nFalse: create the event with the updated parameters",
        "height": 291.29265770424007,
        "width": 192.90589451913144
      },
      "id": "49319f3d-a264-4878-a403-5fbb3d954ab7",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1420,
        480
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "paul.kirstein@hubledigital.com",
          "mode": "list",
          "cachedResultName": "paul.kirstein@hubledigital.com"
        },
        "eventId": "={{ $json.Huble_ID }}",
        "updateFields": {
          "end": "={{ $node[\"Yadera Updated\"].json[\"end\"][\"dateTime\"] }}",
          "start": "={{ $node[\"Yadera Updated\"].json[\"start\"][\"dateTime\"] }}"
        }
      },
      "id": "711ce7de-4dcd-438d-949b-2b046b280309",
      "name": "Google Calendar2",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        2100,
        660
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "19",
          "name": "Paul Kirstein"
        }
      }
    },
    {
      "parameters": {
        "operation": "query",
        "projectId": "outlook-sync-6a4a2",
        "query": "={\n  \"structuredQuery\": {\n    \"where\": {\n      \"fieldFilter\": {\n        \"field\": {\n          \"fieldPath\": \"Yadera_ID\"\n        },\n        \"op\": \"EQUAL\",\n        \"value\": {\n          \"stringValue\": \"092ed264be8b44e6a4ee513802c190bf\"\n        }\n      }\n    },\n    \"from\": [\n      {\n        \"collectionId\": \"CalendarMatches\"\n      }\n    ]\n  }\n}\n",
        "simple": "true"
      },
      "id": "0f22f57b-a136-4b79-85e9-2e9865d6c211",
      "name": "HD Diary Firebase6",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1080,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "content": "check Firebase for existing event by ID, prevents duplicates from occurring",
        "height": 293.7900723888313
      },
      "id": "0478b1c4-d585-400e-a050-2179e2150a7f",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1020,
        500
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "c_05068rfi511a45hma55ph8obqg@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Yadera Planning"
        },
        "eventId": "={{ $node[\"Yadera created\"].json[\"id\"] }}",
        "options": {}
      },
      "id": "df2aac21-3390-45df-a9ad-a8b13b90513d",
      "name": "Google Calendar3",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1920,
        360
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "19",
          "name": "Paul Kirstein"
        }
      }
    },
    {
      "parameters": {
        "operation": "query",
        "projectId": "outlook-sync-6a4a2",
        "query": "={\n  \"structuredQuery\": {\n    \"where\": {\n      \"fieldFilter\": {\n        \"field\": {\n          \"fieldPath\": \"Yadera_ID\"\n        },\n        \"op\": \"EQUAL\",\n        \"value\": {\n          \"stringValue\": \"{{ $json._id }}\"\n        }\n      }\n    },\n    \"from\": [\n      {\n        \"collectionId\": \"CalendarMatches\"\n      }\n    ]\n  }\n}\n ",
        "simple": "true"
      },
      "id": "603695ba-0c55-4e7f-82db-7556928ab44d",
      "name": "HD Diary Firebase7",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1920,
        660
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"empty\"]}}",
              "value2": true
            }
          ],
          "number": []
        }
      },
      "name": "IF Is Empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        640
      ],
      "id": "648667ee-9943-4f2d-b31b-6f8ae7c08964"
    }
  ],
  "pinData": {},
  "settings": {
    "saveDataErrorExecution": "none",
    "saveDataSuccessExecution": "none",
    "saveExecutionProgress": "DEFAULT",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "node:Yadera created": {
      "lastTimeChecked": "2023-05-26T09:32:16Z"
    },
    "node:Yadera Updated": {
      "lastTimeChecked": "2023-05-26T09:32:16Z"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-05-26T09:32:16.551Z",
  "versionId": "5f5bb41d-9d8b-46f7-ac88-9d7b87b97f34"
}