ShiraatsDavids.json
{
  "active": true,
  "connections": {
    "Yadera Updated": {
      "main": [
        [
          {
            "node": "HD Diary Firebase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HD Diary Firebase1": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "HD Diary Firebase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HD Diary Firebase3": {
      "main": [
        [
          {
            "node": "Google Calendar5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar5": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar6": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HD Diary Firebase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yadera created": {
      "main": [
        [
          {
            "node": "HD Diary Firebase6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HD Diary Firebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HD Diary Firebase6": {
      "main": [
        [
          {
            "node": "IF Is Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar3": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HD Diary Firebase7": {
      "main": [
        [
          {
            "node": "Google Calendar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is Empty?": {
      "main": [
        [
          {
            "node": "HD Diary Firebase7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-21T09:03:42.672Z",
  "id": "40",
  "name": "Shiraats Davids",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "c_j73a0nb6bvfnhhd7ishod6faog@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Yadera Planning"
        },
        "triggerOn": "eventUpdated",
        "options": {}
      },
      "id": "206cc6b7-d1b2-4229-b7d4-a4553a925581",
      "name": "Yadera Updated",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        800,
        854.0465250606362
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "37",
          "name": "Shiraats Davids"
        }
      }
    },
    {
      "parameters": {
        "operation": "query",
        "projectId": "outlook-sync-6a4a2",
        "query": "={   \"structuredQuery\": {     \"where\": {       \"fieldFilter\": {         \"field\": {           \"fieldPath\": \"Yadera_ID\"         },         \"op\": \"EQUAL\",         \"value\": {           \"stringValue\": \"{{ $json[\"id\"] }}\"         }       }     },     \"from\": [       {         \"collectionId\": \"CalendarMatches\"       }     ]   } }",
        "simple": "true"
      },
      "id": "ea9dc126-7225-4b9b-b311-77523a9cebdc",
      "name": "HD Diary Firebase1",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1000,
        854.0465250606362
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "shiraats.davids@hubledigital.com",
          "mode": "list",
          "cachedResultName": "shiraats.davids@hubledigital.com"
        },
        "eventId": "={{ $json.Huble_ID }}",
        "updateFields": {
          "end": "={{ $node[\"Yadera Updated\"].json[\"end\"][\"dateTime\"] }}",
          "start": "={{ $node[\"Yadera Updated\"].json[\"start\"][\"dateTime\"] }}"
        }
      },
      "id": "a9bb02fb-30c1-4768-ad8c-334b7b6c4fe4",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1220,
        854.0465250606362
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "37",
          "name": "Shiraats Davids"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"status\"] }}",
              "value2": "cancelled"
            }
          ]
        }
      },
      "id": "741ee8df-5bcf-4ef9-bc6e-20c5b031a02f",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        1014.0465250606362
      ]
    },
    {
      "parameters": {
        "operation": "query",
        "projectId": "outlook-sync-6a4a2",
        "query": "={   \"structuredQuery\": {     \"where\": {       \"fieldFilter\": {         \"field\": {           \"fieldPath\": \"Yadera_ID\"         },         \"op\": \"EQUAL\",         \"value\": {           \"stringValue\": \"{{ $json[\"id\"] }}\"         }       }     },     \"from\": [       {         \"collectionId\": \"CalendarMatches\"       }     ]   } }",
        "simple": "true"
      },
      "id": "e4143374-c361-4c80-b3cd-47370f5a68b8",
      "name": "HD Diary Firebase3",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1400,
        1014.0465250606362
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "shiraats.davids@hubledigital.com",
          "mode": "list",
          "cachedResultName": "shiraats.davids@hubledigital.com"
        },
        "eventId": "={{ $json.Huble_ID }}",
        "options": {}
      },
      "id": "fe3cbc37-3967-435e-afa5-410039ffcaf0",
      "name": "Google Calendar5",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1600,
        1014.0465250606362
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "37",
          "name": "Shiraats Davids"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_j73a0nb6bvfnhhd7ishod6faog@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Yadera Planning"
        },
        "returnAll": true,
        "options": {
          "orderBy": "updated",
          "showDeleted": true,
          "updatedMin": "={{$now.minus({minutes: 30}).toString()}}"
        }
      },
      "id": "5578dcd0-8499-48ca-beca-1be0daa34d1e",
      "name": "Google Calendar6",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        980,
        1014.0465250606362
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "37",
          "name": "Shiraats Davids"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "projectId": "outlook-sync-6a4a2",
        "collection": "CalendarMatches",
        "documentId": "={{ $node[\"HD Diary Firebase3\"].json[\"_id\"] }}"
      },
      "id": "8088236a-0b7a-422f-8e62-0bf8d58dbfc4",
      "name": "HD Diary Firebase2",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        2040,
        1014.0465250606362
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {}
          ]
        }
      },
      "id": "2e1a3c85-60ea-4caf-a6dd-31a998ce38f6",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        1014.0465250606362
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "shiraats.davids@hubledigital.com",
          "mode": "list",
          "cachedResultName": "shiraats.davids@hubledigital.com"
        },
        "start": "={{ $node[\"Yadera created\"].json[\"start\"][\"dateTime\"] }}",
        "end": "={{ $node[\"Yadera created\"].json[\"end\"][\"dateTime\"] }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $node[\"Yadera created\"].json[\"summary\"] }}"
        }
      },
      "id": "6d375206-8d6b-4d1f-9968-0338d1847e5e",
      "name": "Google Calendar1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1920,
        500
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "37",
          "name": "Shiraats Davids"
        }
      }
    },
    {
      "parameters": {
        "calendarId": {
          "__rl": true,
          "value": "c_j73a0nb6bvfnhhd7ishod6faog@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Yadera Planning"
        },
        "triggerOn": "eventCreated",
        "options": {}
      },
      "id": "754e7548-b8f5-411e-8c57-5a75da6b2b47",
      "name": "Yadera created",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        800,
        640
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "37",
          "name": "Shiraats Davids"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "projectId": "outlook-sync-6a4a2",
        "collection": "CalendarMatches",
        "columns": "Yadera_ID,  Huble_ID"
      },
      "id": "dc1e9e36-da69-4e82-af60-01a351fd9bb1",
      "name": "HD Diary Firebase",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        2540,
        420
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Yadera_ID",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "111f4efa-11f6-4aa8-87d8-5a42269c8e20",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2100,
        360
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "72b49605-32f0-4c82-bdb1-32d98e08d27e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2380,
        420
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Huble_ID",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ba0160d8-836e-4bfc-a4bf-e01b08a1b343",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2100,
        500
      ]
    },
    {
      "parameters": {
        "content": "if FB query returns true, update event . \n\nFalse: create the event with the updated parameters",
        "height": 291.29265770424007,
        "width": 192.90589451913144
      },
      "id": "2fb12acf-c41d-4030-850e-eee45e884c2d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1420,
        480
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "shiraats.davids@hubledigital.com",
          "mode": "list",
          "cachedResultName": "shiraats.davids@hubledigital.com"
        },
        "eventId": "={{ $json.Huble_ID }}",
        "updateFields": {
          "end": "={{ $node[\"Yadera Updated\"].json[\"end\"][\"dateTime\"] }}",
          "start": "={{ $node[\"Yadera Updated\"].json[\"start\"][\"dateTime\"] }}"
        }
      },
      "id": "4a634698-8ada-43f0-97d7-c706fb47e628",
      "name": "Google Calendar2",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        2100,
        660
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "37",
          "name": "Shiraats Davids"
        }
      }
    },
    {
      "parameters": {
        "operation": "query",
        "projectId": "outlook-sync-6a4a2",
        "query": "={\n  \"structuredQuery\": {\n    \"where\": {\n      \"fieldFilter\": {\n        \"field\": {\n          \"fieldPath\": \"Yadera_ID\"\n        },\n        \"op\": \"EQUAL\",\n        \"value\": {\n          \"stringValue\": \"092ed264be8b44e6a4ee513802c190bf\"\n        }\n      }\n    },\n    \"from\": [\n      {\n        \"collectionId\": \"CalendarMatches\"\n      }\n    ]\n  }\n}\n",
        "simple": "true"
      },
      "id": "1ca3ab9f-6c3e-4d79-83b3-b67518d7d2bd",
      "name": "HD Diary Firebase6",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1080,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "content": "check Firebase for existing event by ID, prevents duplicates from occurring",
        "height": 293.7900723888313
      },
      "id": "883bc724-8b74-4424-ab60-52da7b319010",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1020,
        500
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "c_j73a0nb6bvfnhhd7ishod6faog@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Yadera Planning"
        },
        "eventId": "={{ $node[\"Yadera created\"].json[\"id\"] }}",
        "options": {}
      },
      "id": "7395d319-f213-42c4-a61e-f85a1554fcf0",
      "name": "Google Calendar3",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1920,
        360
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "37",
          "name": "Shiraats Davids"
        }
      }
    },
    {
      "parameters": {
        "operation": "query",
        "projectId": "outlook-sync-6a4a2",
        "query": "={\n  \"structuredQuery\": {\n    \"where\": {\n      \"fieldFilter\": {\n        \"field\": {\n          \"fieldPath\": \"Yadera_ID\"\n        },\n        \"op\": \"EQUAL\",\n        \"value\": {\n          \"stringValue\": \"{{ $json._id }}\"\n        }\n      }\n    },\n    \"from\": [\n      {\n        \"collectionId\": \"CalendarMatches\"\n      }\n    ]\n  }\n}\n ",
        "simple": "true"
      },
      "id": "49587cf6-b6c0-495d-8982-feecca962d21",
      "name": "HD Diary Firebase7",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1920,
        660
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"empty\"]}}",
              "value2": true
            }
          ],
          "number": []
        }
      },
      "name": "IF Is Empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        640
      ],
      "id": "0fab9dac-bd9c-4557-a9ec-b9c4822b95ef"
    }
  ],
  "pinData": {},
  "settings": {
    "saveDataErrorExecution": "none",
    "saveDataSuccessExecution": "none",
    "saveExecutionProgress": "DEFAULT",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "node:Yadera created": {
      "lastTimeChecked": "2023-05-26T09:27:05Z"
    },
    "node:Yadera Updated": {
      "lastTimeChecked": "2023-05-26T12:33:26Z"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-05-26T12:33:26.182Z",
  "versionId": "0b41b31f-7d76-408b-8573-7fb44f65ff40"
}