TarynReyneke.json
{
  "active": true,
  "connections": {
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yadera created": {
      "main": [
        [
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HD Diary Firebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yadera Updated": {
      "main": [
        [
          {
            "node": "HD Diary Firebase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HD Diary Firebase1": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "HD Diary Firebase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HD Diary Firebase3": {
      "main": [
        [
          {
            "node": "Google Calendar5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar5": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar6": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HD Diary Firebase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-21T12:10:43.178Z",
  "id": "77",
  "name": "Taryn Reyneke",
  "nodes": [
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "caryn.prentice@hubledigital.com",
          "mode": "list",
          "cachedResultName": "caryn.prentice@hubledigital.com"
        },
        "start": "={{ $json.start.dateTime }}",
        "end": "={{ $json.end.dateTime }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $json.summary }}"
        }
      },
      "id": "e6ccfe83-9833-4fc1-901c-d0230d8e4729",
      "name": "Google Calendar1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1140,
        700
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "82",
          "name": "Caryn Prentice"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "c_7tclki73e4radn7blkp69mr4ek@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Yadera Planning"
        },
        "triggerOn": "eventCreated",
        "options": {}
      },
      "id": "4e70c6fa-8385-4ea2-be20-67681be377d3",
      "name": "Yadera created",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        820,
        520
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "82",
          "name": "Caryn Prentice"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "projectId": "outlook-sync-6a4a2",
        "collection": "CalendarMatches",
        "columns": "Huble_ID, Yadera_ID"
      },
      "id": "16c5f615-cefd-4388-9055-0b21d0cf0b2c",
      "name": "HD Diary Firebase",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1840,
        574.0465250606362
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Yadera_ID",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "47269e0a-1a8e-425d-9a71-e5d7d5426e7c",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1400,
        514.0465250606362
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Huble_ID",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7adce71c-cc31-42f7-8f22-9c8594e6fb27",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1400,
        654.0465250606362
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "a8d3d8ed-7f3a-422a-9f44-29694586f1cc",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1680,
        574.0465250606362
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "c_7tclki73e4radn7blkp69mr4ek@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Yadera Planning"
        },
        "triggerOn": "eventUpdated",
        "options": {}
      },
      "id": "9c4e15f2-04a6-40b6-9256-183054997fba",
      "name": "Yadera Updated",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        800,
        860
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "82",
          "name": "Caryn Prentice"
        }
      }
    },
    {
      "parameters": {
        "operation": "query",
        "projectId": "outlook-sync-6a4a2",
        "query": "={   \"structuredQuery\": {     \"where\": {       \"fieldFilter\": {         \"field\": {           \"fieldPath\": \"Yadera_ID\"         },         \"op\": \"EQUAL\",         \"value\": {           \"stringValue\": \"{{ $json[\"id\"] }}\"         }       }     },     \"from\": [       {         \"collectionId\": \"CalendarMatches\"       }     ]   } }",
        "simple": "true"
      },
      "id": "3db7c256-d8aa-46af-9b8e-40671d6996aa",
      "name": "HD Diary Firebase1",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1000,
        854.0465250606362
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "caryn.prentice@hubledigital.com",
          "mode": "list",
          "cachedResultName": "caryn.prentice@hubledigital.com"
        },
        "eventId": "={{ $json.Huble_ID }}",
        "updateFields": {
          "end": "={{ $node[\"Yadera Updated\"].json[\"end\"][\"dateTime\"] }}",
          "start": "={{ $node[\"Yadera Updated\"].json[\"start\"][\"dateTime\"] }}"
        }
      },
      "id": "7803aabc-8480-41c9-bdcb-86d79cdbc520",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1220,
        860
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "82",
          "name": "Caryn Prentice"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"status\"] }}",
              "value2": "cancelled"
            }
          ]
        }
      },
      "id": "b0953bd9-83e7-484e-88a6-d1ea471b7377",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        1014.0465250606362
      ]
    },
    {
      "parameters": {
        "operation": "query",
        "projectId": "outlook-sync-6a4a2",
        "query": "={   \"structuredQuery\": {     \"where\": {       \"fieldFilter\": {         \"field\": {           \"fieldPath\": \"Yadera_ID\"         },         \"op\": \"EQUAL\",         \"value\": {           \"stringValue\": \"{{ $json[\"id\"] }}\"         }       }     },     \"from\": [       {         \"collectionId\": \"CalendarMatches\"       }     ]   } }",
        "simple": "true"
      },
      "id": "4a963d1a-b5fd-4fe2-8044-1993689ef884",
      "name": "HD Diary Firebase3",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1400,
        1014.0465250606362
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "caryn.prentice@hubledigital.com",
          "mode": "list",
          "cachedResultName": "caryn.prentice@hubledigital.com"
        },
        "eventId": "={{ $json.Huble_ID }}",
        "options": {}
      },
      "id": "49b41240-5d9e-4cd3-b276-8d96e0471cf8",
      "name": "Google Calendar5",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1600,
        1020
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "82",
          "name": "Caryn Prentice"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_7tclki73e4radn7blkp69mr4ek@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Yadera Planning"
        },
        "returnAll": true,
        "options": {
          "orderBy": "updated",
          "showDeleted": true,
          "updatedMin": "={{$now.minus({minutes: 30}).toString()}}"
        }
      },
      "id": "885a322d-c106-4946-9057-2365606a2175",
      "name": "Google Calendar6",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        980,
        1020
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "82",
          "name": "Caryn Prentice"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "projectId": "outlook-sync-6a4a2",
        "collection": "CalendarMatches",
        "documentId": "={{ $node[\"HD Diary Firebase3\"].json[\"_id\"] }}"
      },
      "id": "eed0fa2f-5f8f-46bb-a180-9277e0540d65",
      "name": "HD Diary Firebase2",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        2040,
        1014.0465250606362
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "11",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {}
          ]
        }
      },
      "id": "c4783159-897a-46d7-b2f0-f575de7462bf",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        1014.0465250606362
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "saveExecutionProgress": "DEFAULT",
    "timezone": "Africa/Johannesburg"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "node:Yadera created": {
      "lastTimeChecked": "2023-05-26T13:20:18Z"
    },
    "node:Yadera Updated": {
      "lastTimeChecked": "2023-05-26T13:20:45Z"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-05-26T13:20:45.183Z",
  "versionId": "af6cd7c8-8c66-4ac6-ba91-dd2bd9bca113"
}