HubleScripts/n8n_workflow_backuptest.json
{
  "data": [
    {
      "createdAt": "2023-03-15T08:53:30.265Z",
      "updatedAt": "2023-03-15T12:55:37.455Z",
      "id": "2",
      "name": "n8n heroku to github backup",
      "active": false,
      "nodes": [
        {
          "parameters": {},
          "id": "25b62a8c-75e7-418b-90ea-99a7a8512b67",
          "name": "When clicking \"Execute Workflow\"",
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            1940,
            940
          ]
        },
        {
          "parameters": {
            "command": "npx n8n export:workflow --backup --output=C:\\Users\\Huble\\Documents\\GitHub\\n8n_workflow_backup"
          },
          "name": "Export Workflows",
          "type": "n8n-nodes-base.executeCommand",
          "position": [
            2140,
            820
          ],
          "typeVersion": 1,
          "id": "cabd8ac7-1f97-4864-b522-301c4f531392"
        },
        {
          "parameters": {
            "command": "npx n8n export:credentials --backup --output C:\\Users\\Huble\\Documents\\GitHub\\n8n_workflow_backup"
          },
          "name": "Export Credentials",
          "type": "n8n-nodes-base.executeCommand",
          "position": [
            2290,
            820
          ],
          "typeVersion": 1,
          "id": "f190f094-8516-443d-9c08-49a0de211c6f"
        },
        {
          "parameters": {
            "command": "git -C C:\\Users\\Huble\\Documents\\GitHub\\n8n_workflow_backup add ."
          },
          "name": "git add",
          "type": "n8n-nodes-base.executeCommand",
          "position": [
            2440,
            820
          ],
          "typeVersion": 1,
          "id": "ef4d4d8a-56d7-46d9-8bd8-141a06550d6f"
        },
        {
          "parameters": {
            "command": "=git -C C:\\Users\\Huble\\Documents\\GitHub\\n8n_workflow_backup commit -m \"Auto backup ({{ new Date().toISOString() }})\""
          },
          "name": "git commit",
          "type": "n8n-nodes-base.executeCommand",
          "position": [
            2590,
            820
          ],
          "typeVersion": 1,
          "id": "5ee8f2df-7ad0-4273-8327-980b45b2857e"
        },
        {
          "parameters": {
            "command": "git -C C:\\Users\\Huble\\Documents\\GitHub\\n8n_workflow_backup push"
          },
          "name": "git push",
          "type": "n8n-nodes-base.executeCommand",
          "position": [
            2740,
            820
          ],
          "typeVersion": 1,
          "id": "0ef6c91b-83f1-4eb7-98e6-09d9d2092abd"
        },
        {
          "parameters": {
            "triggerTimes": {
              "item": [
                {
                  "hour": 0
                },
                {
                  "hour": 12
                },
                {
                  "hour": 6
                },
                {
                  "hour": 18
                }
              ]
            }
          },
          "name": "Cron",
          "type": "n8n-nodes-base.cron",
          "position": [
            1940,
            720
          ],
          "typeVersion": 1,
          "id": "cc67d524-42da-4536-8866-022fd1babbb7"
        }
      ],
      "connections": {
        "Export Workflows": {
          "main": [
            [
              {
                "node": "Export Credentials",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Export Credentials": {
          "main": [
            [
              {
                "node": "git add",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "git add": {
          "main": [
            [
              {
                "node": "git commit",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "git commit": {
          "main": [
            [
              {
                "node": "git push",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Cron": {
          "main": [
            [
              {
                "node": "Export Workflows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "When clicking \"Execute Workflow\"": {
          "main": [
            [
              {
                "node": "Export Workflows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {},
      "staticData": null,
      "pinData": {},
      "versionId": "beed3e7b-b839-40f2-b9f7-3d84a6490e33",
      "triggerCount": 1,
      "tags": []
    },
    {
      "createdAt": "2023-03-15T12:58:09.808Z",
      "updatedAt": "2023-03-17T10:56:07.045Z",
      "id": "3",
      "name": "back final draft",
      "active": false,
      "nodes": [
        {
          "parameters": {
            "values": {
              "string": [
                {
                  "name": "repo.owner",
                  "value": "HubleScripts"
                },
                {
                  "name": "repo.name",
                  "value": "n8n_workflow_backup"
                },
                {
                  "name": "repo.path",
                  "value": "my-team/n8n/workflows/"
                }
              ]
            },
            "options": {}
          },
          "name": "Globals",
          "type": "n8n-nodes-base.set",
          "position": [
            1550,
            990
          ],
          "typeVersion": 1,
          "id": "937fe56e-5553-42ce-9cfd-f90ac6c66ac5"
        },
        {
          "parameters": {
            "batchSize": 1,
            "options": {}
          },
          "name": "OneAtATime",
          "type": "n8n-nodes-base.splitInBatches",
          "position": [
            2000,
            990
          ],
          "typeVersion": 1,
          "id": "a5a70159-899f-44b7-9780-774566da4bbd"
        },
        {
          "parameters": {
            "triggerTimes": {
              "item": [
                {
                  "hour": 20,
                  "minute": 11
                }
              ]
            }
          },
          "name": "Daily @ 20:00",
          "type": "n8n-nodes-base.cron",
          "position": [
            1400,
            1140
          ],
          "typeVersion": 1,
          "id": "c8abd11b-cadc-4f85-8d60-3654c2cf189a",
          "disabled": true
        },
        {
          "parameters": {
            "functionCode": "// File Returned with Content\nif (Object.keys(items[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = eval(\"(\"+Buffer.from(items[0].json.content, 'base64').toString()+\")\");\n  var n8nWorkflow = (items[1].json.data);\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    items[0].json.github_status = \"same\";\n    items[0].json.content_decoded = orderedOriginal;\n  } else {\n    items[0].json.github_status = \"different\";\n    items[0].json.content_decoded = orderedOriginal;\n    items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = (items[1].json.data);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  items[0].json.github_status = \"new\";\n  items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn items;"
          },
          "name": "isDiffOrNew",
          "type": "n8n-nodes-base.function",
          "position": [
            2550,
            990
          ],
          "typeVersion": 1,
          "id": "922a948b-0c86-491d-8a90-aee0bcf68fd9"
        },
        {
          "parameters": {
            "resource": "file",
            "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
            "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
            "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json",
            "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
            "commitMessage": "=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"
          },
          "name": "GitHub Create",
          "type": "n8n-nodes-base.github",
          "position": [
            3100,
            1150
          ],
          "typeVersion": 1,
          "id": "1c9eca80-0a59-479a-ac69-9c90d9f400c3",
          "credentials": {
            "githubApi": {
              "id": "4",
              "name": "GitHub account 2"
            }
          }
        },
        {
          "parameters": {
            "resource": "file",
            "operation": "edit",
            "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
            "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
            "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json",
            "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
            "commitMessage": "=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"
          },
          "name": "GitHub Edit",
          "type": "n8n-nodes-base.github",
          "position": [
            3100,
            870
          ],
          "typeVersion": 1,
          "id": "a445def6-a6e3-4a16-b31c-4e28175d9983",
          "credentials": {
            "githubApi": {
              "id": "4",
              "name": "GitHub account 2"
            }
          }
        },
        {
          "parameters": {},
          "name": "new",
          "type": "n8n-nodes-base.noOp",
          "position": [
            2900,
            1150
          ],
          "typeVersion": 1,
          "id": "204fa493-54c1-429f-ad82-b77873d5d46f"
        },
        {
          "parameters": {},
          "name": "different",
          "type": "n8n-nodes-base.noOp",
          "position": [
            2900,
            990
          ],
          "typeVersion": 1,
          "id": "35c2091c-cc71-4e62-8dbd-c38f7a49617b"
        },
        {
          "parameters": {
            "dataType": "string",
            "value1": "={{$json[\"github_status\"]}}",
            "rules": {
              "rules": [
                {
                  "value2": "same"
                },
                {
                  "value2": "different",
                  "output": 1
                },
                {
                  "value2": "new",
                  "output": 2
                }
              ]
            }
          },
          "name": "github_status",
          "type": "n8n-nodes-base.switch",
          "position": [
            2700,
            990
          ],
          "typeVersion": 1,
          "id": "6c5cf2d9-224e-4a3b-a833-b313f3c05ce0"
        },
        {
          "parameters": {
            "authentication": "headerAuth",
            "url": "=https://huble-dev.herokuapp.com/api/v1/workflows/{{$json[\"id\"]}}",
            "options": {}
          },
          "name": "N8N Workflow Detail",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            2200,
            1150
          ],
          "typeVersion": 1,
          "id": "5c3342a7-49e0-4531-a304-0fdf7a33a239",
          "credentials": {
            "httpHeaderAuth": {
              "id": "2",
              "name": "Header Auth account"
            }
          }
        },
        {
          "parameters": {},
          "name": "Merge",
          "type": "n8n-nodes-base.merge",
          "position": [
            2400,
            980
          ],
          "typeVersion": 1,
          "id": "ce355988-09e0-47b3-a525-3e641bd640da"
        },
        {
          "parameters": {
            "authentication": "headerAuth",
            "url": "https://huble-dev.herokuapp.com/api/v1/workflows?active=false&limit=100",
            "options": {}
          },
          "name": "N8N Workflows",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            1700,
            990
          ],
          "typeVersion": 1,
          "id": "9fd9db6a-5891-4720-9189-1f9feef66d12",
          "credentials": {
            "httpHeaderAuth": {
              "id": "2",
              "name": "Header Auth account"
            }
          }
        },
        {
          "parameters": {
            "functionCode": "const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"
          },
          "name": "dataArray",
          "type": "n8n-nodes-base.function",
          "position": [
            1850,
            990
          ],
          "typeVersion": 1,
          "id": "c94a2af2-bb79-4cb7-91f1-92ae6926f5a5"
        },
        {
          "parameters": {},
          "id": "96c1d643-2599-4842-956e-ae9f992d41ca",
          "name": "When clicking \"Execute Workflow\"",
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            1380,
            820
          ]
        },
        {
          "parameters": {
            "resource": "file",
            "operation": "get",
            "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
            "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
            "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
            "asBinaryProperty": false,
            "additionalParameters": {}
          },
          "name": "GitHub",
          "type": "n8n-nodes-base.github",
          "position": [
            2200,
            840
          ],
          "typeVersion": 1,
          "alwaysOutputData": true,
          "id": "8ff29daa-58c6-4014-8f0f-ebc5dd94fa54",
          "credentials": {
            "githubApi": {
              "id": "4",
              "name": "GitHub account 2"
            }
          },
          "continueOnFail": true
        }
      ],
      "connections": {
        "Daily @ 20:00": {
          "main": [
            [
              {
                "node": "Globals",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GitHub Create": {
          "main": [
            [
              {
                "node": "OneAtATime",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GitHub Edit": {
          "main": [
            [
              {
                "node": "OneAtATime",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "new": {
          "main": [
            [
              {
                "node": "GitHub Create",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "different": {
          "main": [
            [
              {
                "node": "GitHub Edit",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "github_status": {
          "main": [
            [],
            [
              {
                "node": "different",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "new",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "isDiffOrNew": {
          "main": [
            [
              {
                "node": "github_status",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "OneAtATime": {
          "main": [
            [
              {
                "node": "N8N Workflow Detail",
                "type": "main",
                "index": 0
              },
              {
                "node": "GitHub",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Merge": {
          "main": [
            [
              {
                "node": "isDiffOrNew",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "N8N Workflow Detail": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Globals": {
          "main": [
            [
              {
                "node": "N8N Workflows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "dataArray": {
          "main": [
            [
              {
                "node": "OneAtATime",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "N8N Workflows": {
          "main": [
            [
              {
                "node": "dataArray",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "When clicking \"Execute Workflow\"": {
          "main": [
            [
              {
                "node": "Globals",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GitHub": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {},
      "staticData": null,
      "pinData": {},
      "versionId": "0130920e-9f7f-4784-b0a6-bfdb279d4d64",
      "triggerCount": 0,
      "tags": []
    },
    {
      "createdAt": "2023-03-15T13:18:04.082Z",
      "updatedAt": "2023-03-15T13:18:04.082Z",
      "id": "4",
      "name": "My workflow",
      "active": false,
      "nodes": [
        {
          "parameters": {},
          "id": "cca97723-7efd-4e92-b55a-22255b1371ab",
          "name": "When clicking \"Execute Workflow\"",
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            680,
            1140
          ]
        },
        {
          "parameters": {
            "operation": "create",
            "displayName": "={{ $json[\"properties\"][\"firstname\"] }}  {{ $json[\"properties\"][\"lastname\"] }}",
            "additionalFields": {}
          },
          "id": "df39fdbd-bd97-45d8-862f-a644bd4ce1cf",
          "name": "QuickBooks Online",
          "type": "n8n-nodes-base.quickbooks",
          "typeVersion": 1,
          "position": [
            1420,
            1140
          ],
          "credentials": {
            "quickBooksOAuth2Api": {
              "id": "8",
              "name": "QuickBooks Online account"
            }
          }
        },
        {
          "parameters": {
            "eventsUi": {
              "eventValues": [
                {
                  "name": "deal.creation"
                }
              ]
            },
            "additionalFields": {}
          },
          "id": "9da72343-44b3-477b-9aac-d47e1863ffc7",
          "name": "HubSpot Trigger",
          "type": "n8n-nodes-base.hubspotTrigger",
          "typeVersion": 1,
          "position": [
            680,
            960
          ],
          "webhookId": "164844e9-328e-4482-865a-e2a98bc8acd1",
          "credentials": {
            "hubspotDeveloperApi": {
              "id": "13",
              "name": "HubSpot Developer account"
            }
          },
          "disabled": true
        },
        {
          "parameters": {
            "authentication": "appToken",
            "operation": "get",
            "dealId": "11775592335",
            "additionalFields": {}
          },
          "id": "76d54fe1-16b4-4bf9-8dab-dbcea31a2ef9",
          "name": "HubSpot1",
          "type": "n8n-nodes-base.hubspot",
          "typeVersion": 1,
          "position": [
            980,
            1140
          ],
          "credentials": {
            "hubspotAppToken": {
              "id": "11",
              "name": "HubSpot App Token account 2"
            }
          }
        },
        {
          "parameters": {
            "url": "=https://api.hubapi.com/crm/v4/objects/deals/{{ $json[\"dealId\"] }}/associations/contacts?limit=50",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "hubspotAppToken",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "Amount closed",
                  "value": "={{ $json[\"properties\"][\"hs_closed_amount_in_home_currency\"] }}"
                },
                {
                  "name": "DealName",
                  "value": "={{ $json[\"properties\"][\"dealname\"][\"value\"] }}"
                },
                {
                  "name": "Deal Creation Date",
                  "value": "={{ $json[\"properties\"][\"createdate\"][\"timestamp\"] }}"
                },
                {
                  "name": "Close Date",
                  "value": "={{ $json[\"properties\"][\"closedate\"][\"value\"] }}"
                },
                {
                  "name": "Currency",
                  "value": "={{ $json[\"properties\"][\"deal_currency_code\"][\"versions\"][0][\"value\"] }}"
                }
              ]
            },
            "options": {}
          },
          "id": "f775edb0-13d2-4f5b-a637-8d8394193c93",
          "name": "HTTP Request",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 3,
          "position": [
            1120,
            1140
          ],
          "credentials": {
            "httpHeaderAuth": {
              "id": "2",
              "name": "Header Auth account"
            },
            "httpBasicAuth": {
              "id": "12",
              "name": "Unnamed credential"
            },
            "hubspotAppToken": {
              "id": "11",
              "name": "HubSpot App Token account 2"
            }
          }
        },
        {
          "parameters": {
            "resource": "invoice",
            "operation": "create",
            "CustomerRef": "={{ $json[\"Id\"] }}",
            "Line": [
              {
                "Description": "=Amount Billed in  {{ $json[\"CurrencyRef\"][\"name\"] }} ({{ $json[\"CurrencyRef\"][\"value\"] }})",
                "Amount": "={{ $json[\"properties\"][\"hs_closed_amount_in_home_currency\"][\"value\"] }}",
                "DetailType": "SalesItemLineDetail",
                "itemId": "12",
                "TaxCodeRef": "5"
              }
            ],
            "additionalFields": {}
          },
          "id": "061cebc2-59fe-4f12-b000-04b1bb1a2361",
          "name": "QuickBooks Online1",
          "type": "n8n-nodes-base.quickbooks",
          "typeVersion": 1,
          "position": [
            2040,
            1260
          ],
          "credentials": {
            "quickBooksOAuth2Api": {
              "id": "8",
              "name": "QuickBooks Online account"
            }
          }
        },
        {
          "parameters": {
            "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json[\"results\"][0][\"toObjectId\"] }}",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "hubspotAppToken",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "Amount closed",
                  "value": "={{ $json[\"properties\"][\"hs_closed_amount_in_home_currency\"] }}"
                },
                {
                  "name": "DealName",
                  "value": "={{ $json[\"properties\"][\"dealname\"][\"value\"] }}"
                },
                {
                  "name": "Deal Creation Date",
                  "value": "={{ $json[\"properties\"][\"createdate\"][\"timestamp\"] }}"
                },
                {
                  "name": "Close Date",
                  "value": "={{ $json[\"properties\"][\"closedate\"][\"value\"] }}"
                },
                {
                  "name": "Currency",
                  "value": "={{ $json[\"properties\"][\"deal_currency_code\"][\"versions\"][0][\"value\"] }}"
                }
              ]
            },
            "options": {}
          },
          "id": "ae5b4282-d2de-470d-a6cd-4327d65189be",
          "name": "HTTP Request1",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 3,
          "position": [
            1280,
            1140
          ],
          "credentials": {
            "httpHeaderAuth": {
              "id": "2",
              "name": "Header Auth account"
            },
            "httpBasicAuth": {
              "id": "12",
              "name": "Unnamed credential"
            },
            "hubspotAppToken": {
              "id": "11",
              "name": "HubSpot App Token account 2"
            }
          }
        },
        {
          "parameters": {
            "authentication": "appToken",
            "operation": "get",
            "dealId": "11775592335",
            "additionalFields": {}
          },
          "id": "d2ad7420-537b-4125-9b46-88349ea230ae",
          "name": "HubSpot",
          "type": "n8n-nodes-base.hubspot",
          "typeVersion": 1,
          "position": [
            1620,
            960
          ],
          "credentials": {
            "hubspotAppToken": {
              "id": "11",
              "name": "HubSpot App Token account 2"
            }
          }
        },
        {
          "parameters": {
            "customerId": "={{ $json[\"Id\"] }}"
          },
          "id": "8947c2ac-c87b-45d0-af66-5dd38a7359d5",
          "name": "QuickBooks Online2",
          "type": "n8n-nodes-base.quickbooks",
          "typeVersion": 1,
          "position": [
            1620,
            1300
          ],
          "credentials": {
            "quickBooksOAuth2Api": {
              "id": "8",
              "name": "QuickBooks Online account"
            }
          }
        },
        {
          "parameters": {
            "mode": "combine",
            "combinationMode": "multiplex",
            "options": {}
          },
          "id": "7eb2d7bd-6a65-4506-a8db-3d6993a058bc",
          "name": "Merge",
          "type": "n8n-nodes-base.merge",
          "typeVersion": 2,
          "position": [
            1800,
            1100
          ]
        },
        {
          "parameters": {
            "method": "PUT",
            "url": "=https://api.hubapi.com/crm/v3/objects/quotes/{{ $json[\"id\"] }}/associations/0-3/{{ $json[\"dealId\"] }} ",
            "authentication": "genericCredentialType",
            "genericAuthType": "httpHeaderAuth",
            "options": {}
          },
          "id": "2a43b60a-9d10-4bbe-9189-99d75defe147",
          "name": "associate HS quote -> deal",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 3,
          "position": [
            2480,
            980
          ],
          "credentials": {
            "httpHeaderAuth": {
              "id": "3",
              "name": "Header Auth account 2"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://api.hubapi.com/crm/v3/objects/quotes/",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "hubspotAppToken",
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n    \"properties\": {    \n        \"hs_expiration_date\": \"2023-10-30T03:30:17.883Z\",\n        \"hs_title\": \"{{ $json[\"properties\"][\"dealname\"][\"value\"] }}\"\n    }\n}  ",
            "options": {}
          },
          "id": "4d8f6c69-aba5-412e-9621-840d54825892",
          "name": "create HS quote",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 3,
          "position": [
            2040,
            1100
          ],
          "credentials": {
            "httpHeaderAuth": {
              "id": "3",
              "name": "Header Auth account 2"
            },
            "hubspotAppToken": {
              "id": "11",
              "name": "HubSpot App Token account 2"
            }
          }
        },
        {
          "parameters": {
            "mode": "combine",
            "combinationMode": "multiplex",
            "options": {}
          },
          "id": "609396ea-0ae9-4d4b-b77f-78e8666e1956",
          "name": "Merge1",
          "type": "n8n-nodes-base.merge",
          "typeVersion": 2,
          "position": [
            2300,
            980
          ]
        }
      ],
      "connections": {
        "When clicking \"Execute Workflow\"": {
          "main": [
            [
              {
                "node": "HubSpot1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HubSpot1": {
          "main": [
            [
              {
                "node": "HTTP Request",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HTTP Request": {
          "main": [
            [
              {
                "node": "HTTP Request1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "QuickBooks Online": {
          "main": [
            [
              {
                "node": "HubSpot",
                "type": "main",
                "index": 0
              },
              {
                "node": "QuickBooks Online2",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HTTP Request1": {
          "main": [
            [
              {
                "node": "QuickBooks Online",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HubSpot": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 0
              },
              {
                "node": "Merge1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "QuickBooks Online2": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Merge": {
          "main": [
            [
              {
                "node": "QuickBooks Online1",
                "type": "main",
                "index": 0
              },
              {
                "node": "create HS quote",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "create HS quote": {
          "main": [
            [
              {
                "node": "Merge1",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Merge1": {
          "main": [
            [
              {
                "node": "associate HS quote -> deal",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {},
      "staticData": null,
      "pinData": {},
      "versionId": "b267afc0-6785-4ef4-b523-ea12de69e847",
      "triggerCount": 0,
      "tags": []
    }
  ],
  "nextCursor": null
}