dev0/.json
{
  "data": [
    {
      "createdAt": "2023-03-15T08:53:30.265Z",
      "updatedAt": "2023-03-15T12:55:37.455Z",
      "id": "2",
      "name": "n8n heroku to github backup",
      "active": false,
      "nodes": [
        {
          "parameters": {},
          "id": "25b62a8c-75e7-418b-90ea-99a7a8512b67",
          "name": "When clicking \"Execute Workflow\"",
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            1940,
            940
          ]
        },
        {
          "parameters": {
            "command": "npx n8n export:workflow --backup --output=C:\\Users\\Huble\\Documents\\GitHub\\n8n_workflow_backup"
          },
          "name": "Export Workflows",
          "type": "n8n-nodes-base.executeCommand",
          "position": [
            2140,
            820
          ],
          "typeVersion": 1,
          "id": "cabd8ac7-1f97-4864-b522-301c4f531392"
        },
        {
          "parameters": {
            "command": "npx n8n export:credentials --backup --output C:\\Users\\Huble\\Documents\\GitHub\\n8n_workflow_backup"
          },
          "name": "Export Credentials",
          "type": "n8n-nodes-base.executeCommand",
          "position": [
            2290,
            820
          ],
          "typeVersion": 1,
          "id": "f190f094-8516-443d-9c08-49a0de211c6f"
        },
        {
          "parameters": {
            "command": "git -C C:\\Users\\Huble\\Documents\\GitHub\\n8n_workflow_backup add ."
          },
          "name": "git add",
          "type": "n8n-nodes-base.executeCommand",
          "position": [
            2440,
            820
          ],
          "typeVersion": 1,
          "id": "ef4d4d8a-56d7-46d9-8bd8-141a06550d6f"
        },
        {
          "parameters": {
            "command": "=git -C C:\\Users\\Huble\\Documents\\GitHub\\n8n_workflow_backup commit -m \"Auto backup ({{ new Date().toISOString() }})\""
          },
          "name": "git commit",
          "type": "n8n-nodes-base.executeCommand",
          "position": [
            2590,
            820
          ],
          "typeVersion": 1,
          "id": "5ee8f2df-7ad0-4273-8327-980b45b2857e"
        },
        {
          "parameters": {
            "command": "git -C C:\\Users\\Huble\\Documents\\GitHub\\n8n_workflow_backup push"
          },
          "name": "git push",
          "type": "n8n-nodes-base.executeCommand",
          "position": [
            2740,
            820
          ],
          "typeVersion": 1,
          "id": "0ef6c91b-83f1-4eb7-98e6-09d9d2092abd"
        },
        {
          "parameters": {
            "triggerTimes": {
              "item": [
                {
                  "hour": 0
                },
                {
                  "hour": 12
                },
                {
                  "hour": 6
                },
                {
                  "hour": 18
                }
              ]
            }
          },
          "name": "Cron",
          "type": "n8n-nodes-base.cron",
          "position": [
            1940,
            720
          ],
          "typeVersion": 1,
          "id": "cc67d524-42da-4536-8866-022fd1babbb7"
        }
      ],
      "connections": {
        "Export Workflows": {
          "main": [
            [
              {
                "node": "Export Credentials",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Export Credentials": {
          "main": [
            [
              {
                "node": "git add",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "git add": {
          "main": [
            [
              {
                "node": "git commit",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "git commit": {
          "main": [
            [
              {
                "node": "git push",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Cron": {
          "main": [
            [
              {
                "node": "Export Workflows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "When clicking \"Execute Workflow\"": {
          "main": [
            [
              {
                "node": "Export Workflows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {},
      "staticData": null,
      "pinData": {},
      "versionId": "beed3e7b-b839-40f2-b9f7-3d84a6490e33",
      "triggerCount": 1,
      "tags": []
    },
    {
      "createdAt": "2023-03-15T12:58:09.808Z",
      "updatedAt": "2023-03-27T14:03:10.352Z",
      "id": "3",
      "name": "github to n8n integration final draft",
      "active": false,
      "nodes": [
        {
          "parameters": {},
          "id": "fe954e28-fe1e-4449-b0d0-3151bd85e5a9",
          "name": "On clicking 'execute'",
          "type": "n8n-nodes-base.manualTrigger",
          "position": [
            -65,
            1015
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "resource": "file",
            "operation": "get",
            "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
            "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
            "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
            "asBinaryProperty": false,
            "additionalParameters": {}
          },
          "id": "e0e89e7a-d4e1-455e-a75c-cf49b9090bf4",
          "name": "GitHub",
          "type": "n8n-nodes-base.github",
          "position": [
            780,
            980
          ],
          "typeVersion": 1,
          "alwaysOutputData": true,
          "credentials": {
            "githubApi": {
              "id": "4",
              "name": "GitHub account 2"
            }
          },
          "continueOnFail": true
        },
        {
          "parameters": {
            "dataType": "string",
            "value1": "={{$json[\"github_status\"]}}",
            "rules": {
              "rules": [
                {
                  "value2": "same"
                },
                {
                  "value2": "different",
                  "output": 1
                },
                {
                  "value2": "new",
                  "output": 2
                }
              ]
            }
          },
          "id": "3dfc502c-6162-44b0-919e-9b340a5e0f40",
          "name": "github_status",
          "type": "n8n-nodes-base.switch",
          "position": [
            1420,
            1120
          ],
          "typeVersion": 1
        },
        {
          "parameters": {},
          "id": "5cc94af7-634f-4a7f-a018-e175255d01b1",
          "name": "same",
          "type": "n8n-nodes-base.noOp",
          "position": [
            1660,
            920
          ],
          "typeVersion": 1
        },
        {
          "parameters": {},
          "id": "18b68260-96e0-4d78-8634-20a48113b824",
          "name": "different",
          "type": "n8n-nodes-base.noOp",
          "position": [
            1660,
            1120
          ],
          "typeVersion": 1
        },
        {
          "parameters": {},
          "id": "fef72298-8e50-4dbb-95a6-48a74263e17e",
          "name": "new",
          "type": "n8n-nodes-base.noOp",
          "position": [
            1660,
            1300
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "resource": "file",
            "operation": "edit",
            "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
            "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
            "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
            "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
            "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
          },
          "id": "7f07db89-e389-481a-9d1c-a5846c95b3f2",
          "name": "GitHub Edit",
          "type": "n8n-nodes-base.github",
          "position": [
            1840,
            1120
          ],
          "typeVersion": 1,
          "credentials": {
            "githubApi": {
              "id": "4",
              "name": "GitHub account 2"
            }
          }
        },
        {
          "parameters": {
            "resource": "file",
            "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
            "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
            "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
            "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
            "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
          },
          "id": "fa7b48f0-b052-48b4-9dfe-3cc34fe26b70",
          "name": "GitHub Create",
          "type": "n8n-nodes-base.github",
          "position": [
            1840,
            1300
          ],
          "typeVersion": 1,
          "credentials": {
            "githubApi": {
              "id": "4",
              "name": "GitHub account 2"
            }
          }
        },
        {
          "parameters": {
            "batchSize": 1,
            "options": {
              "reset": false
            }
          },
          "id": "d6d4e5e2-cf77-40f8-8595-51dea987a73a",
          "name": "OneAtATime",
          "type": "n8n-nodes-base.splitInBatches",
          "position": [
            560,
            1140
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "values": {
              "string": [
                {
                  "name": "repo.owner",
                  "value": "HubleScripts"
                },
                {
                  "name": "repo.name",
                  "value": "n8n_workflow_backup"
                },
                {
                  "name": "repo.path",
                  "value": "dev0/"
                }
              ]
            },
            "options": {}
          },
          "id": "4b9729f1-e74f-47dd-b677-11bd17d9c114",
          "name": "Globals",
          "type": "n8n-nodes-base.set",
          "position": [
            120,
            1140
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "content": "## Workflow Backups\nThis workflow will automatically backup your workflows to your Github account every 12 hours.\n\n### Setup\nOpen Globals and update the values below\n**repo.owner:** This is your Github username\n**repo.name:** This is the name of your repository\n**repo.path:** This is the folder to use within the repository, If it doesn't exist it will be created.\n\nIf your username was `n8n-io` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\nrepo.owner - n8n-io\nrepo.name - n8n-backups\nrepo.path - workflows",
            "height": 464.79920462713443,
            "width": 389.78906250000017
          },
          "id": "1f24a8ca-3a95-4042-8d44-aca10b336907",
          "name": "Note",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -520,
            920
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "content": "## Single Item Loop\nWe process each workflow item one at a time, We first check Github to see if a file exists then we merge the Github Data and the API item so we can check if the values match in the function node `isDiffOrNew` we then set a status of `same`, `different` or `new`",
            "height": 424.04333333333386,
            "width": 755.2349999999991
          },
          "id": "4efd916c-5b35-4963-b02b-f8d7f226d3ff",
          "name": "Note2",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            540,
            860
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "content": "## Save the data\nUsing the switch node we work out what to do based on the previous status,  If it is the same we do nothing, If it is different we update the file in Github and if it is new we create a new file. After this is done we loop back to the Split in Batches node (OneAtAtTime) to start the process again.",
            "height": 693.9283333333326,
            "width": 666.4416666666662
          },
          "id": "a3f90bf4-c430-4f1d-8375-5ef098e2256a",
          "name": "Note3",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            1380,
            800
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
          },
          "id": "361ebc25-7aed-4b5c-ad37-88ff451a2d05",
          "name": "isDiffOrNew",
          "type": "n8n-nodes-base.code",
          "position": [
            1180,
            1120
          ],
          "typeVersion": 1
        },
        {
          "parameters": {},
          "id": "ac3b7b34-4287-4e7e-9af7-64cbf4857465",
          "name": "Merge",
          "type": "n8n-nodes-base.merge",
          "position": [
            1000,
            1120
          ],
          "typeVersion": 2
        },
        {
          "parameters": {
            "url": "https://huble-dev.herokuapp.com/api/v1/workflows?active=false&limit=100",
            "authentication": "genericCredentialType",
            "genericAuthType": "httpHeaderAuth",
            "options": {}
          },
          "id": "10752a79-dc42-4682-a8f4-ee27d925bdd6",
          "name": "HTTP Request",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 3,
          "position": [
            320,
            1140
          ],
          "credentials": {
            "httpHeaderAuth": {
              "id": "2",
              "name": "Header Auth account"
            }
          }
        },
        {
          "parameters": {
            "content": "Done: get foundational loop working. Backups are now successful with commmits and everything.\n\nTODO: Look at in closer detail and sort into seperate Json's accoding to invidiual workflows ID's",
            "height": 266.9298740310078,
            "width": 227.92727228682165
          },
          "id": "fbbfa536-f558-4c57-9119-7685d2520f4c",
          "name": "Sticky Note",
          "type": "n8n-nodes-base.stickyNote",
          "typeVersion": 1,
          "position": [
            -340,
            480
          ]
        },
        {
          "parameters": {
            "content": "Path within GH repo can be setup customly according to whoever is using the workflow \n\nEg. John_Dev/Johns_workflows.json",
            "height": 341.18386227544903,
            "width": 233.48668163672636
          },
          "id": "374fa25c-324e-4c79-b78e-751283f94c7a",
          "name": "Sticky Note1",
          "type": "n8n-nodes-base.stickyNote",
          "typeVersion": 1,
          "position": [
            240,
            994.9997405189622
          ]
        },
        {
          "parameters": {
            "triggerTimes": {
              "item": [
                {
                  "mode": "everyX",
                  "value": 8
                }
              ]
            }
          },
          "id": "ec74c42d-5f53-4c9a-bb6f-cb50bbca192a",
          "name": "Every 8 hours",
          "type": "n8n-nodes-base.cron",
          "position": [
            -65,
            1275
          ],
          "typeVersion": 1
        }
      ],
      "connections": {
        "On clicking 'execute'": {
          "main": [
            [
              {
                "node": "Globals",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GitHub": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "github_status": {
          "main": [
            [
              {
                "node": "same",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "different",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "new",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "same": {
          "main": [
            [
              {
                "node": "OneAtATime",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "different": {
          "main": [
            [
              {
                "node": "GitHub Edit",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "new": {
          "main": [
            [
              {
                "node": "GitHub Create",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GitHub Edit": {
          "main": [
            [
              {
                "node": "OneAtATime",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GitHub Create": {
          "main": [
            [
              {
                "node": "OneAtATime",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "OneAtATime": {
          "main": [
            [
              {
                "node": "GitHub",
                "type": "main",
                "index": 0
              },
              {
                "node": "Merge",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Globals": {
          "main": [
            [
              {
                "node": "HTTP Request",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "isDiffOrNew": {
          "main": [
            [
              {
                "node": "github_status",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Merge": {
          "main": [
            [
              {
                "node": "isDiffOrNew",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HTTP Request": {
          "main": [
            [
              {
                "node": "OneAtATime",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Every 8 hours": {
          "main": [
            [
              {
                "node": "Globals",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {},
      "staticData": null,
      "pinData": {},
      "versionId": "7f8be741-24bc-4283-a850-a13019e761e2",
      "triggerCount": 0,
      "tags": []
    },
    {
      "createdAt": "2023-03-15T13:18:04.082Z",
      "updatedAt": "2023-03-27T12:58:04.897Z",
      "id": "4",
      "name": "My workflow",
      "active": false,
      "nodes": [
        {
          "parameters": {
            "resource": "file",
            "operation": "edit",
            "owner": "YOUR_USERNAME",
            "repository": "REPO_NAME",
            "filePath": "={{$json[\"data\"][\"name\"]}}.json",
            "fileContent": "={{JSON.stringify($json[\"data\"])}}",
            "commitMessage": "=[N8N Backup] {{$json.data[\"name\"]}} ({{new Date(Date.now()).toLocaleDateString()}})"
          },
          "name": "GitHub Edit",
          "type": "n8n-nodes-base.github",
          "position": [
            -30,
            1190
          ],
          "typeVersion": 1,
          "id": "ee96b82c-6138-480d-bf65-3f41bc7d7ba7",
          "credentials": {
            "githubApi": {
              "id": "4",
              "name": "GitHub account 2"
            }
          },
          "disabled": true
        },
        {
          "parameters": {
            "resource": "file",
            "operation": "get",
            "owner": {
              "__rl": true,
              "value": "HubleScripts",
              "mode": ""
            },
            "repository": {
              "__rl": true,
              "value": "n8n_workflow_backup",
              "mode": ""
            },
            "filePath": "/dev0/Kaiyana_Test0.json",
            "asBinaryProperty": false,
            "additionalParameters": {}
          },
          "name": "Get Files",
          "type": "n8n-nodes-base.github",
          "position": [
            -1020,
            1080
          ],
          "executeOnce": true,
          "typeVersion": 1,
          "alwaysOutputData": false,
          "id": "acf5bd7e-76a1-44b0-a6f7-7b828783bf59",
          "credentials": {
            "githubApi": {
              "id": "4",
              "name": "GitHub account 2"
            }
          }
        },
        {
          "parameters": {
            "functionCode": "return items[0].json.map(item => {\n  return {\n    json: item\n  }\n});\n"
          },
          "name": "Transform",
          "type": "n8n-nodes-base.function",
          "position": [
            -820,
            1080
          ],
          "typeVersion": 1,
          "id": "830c7cdf-e55e-4072-a8b4-2393b165c870"
        },
        {
          "parameters": {
            "resource": "file",
            "owner": "YOUR_USERNAME",
            "repository": "REPO",
            "filePath": "={{$json[\"data\"][\"name\"]}}.json",
            "fileContent": "={{JSON.stringify($node['Merge'].json[\"data\"])}}",
            "commitMessage": "=[N8N Backup] {{$json.data[\"name\"]}}.json ({{new Date(Date.now()).toLocaleDateString()}})"
          },
          "name": "Create file",
          "type": "n8n-nodes-base.github",
          "position": [
            20,
            860
          ],
          "typeVersion": 1,
          "id": "7d29bbda-b35f-443f-8ae3-be39656b6cca",
          "credentials": {
            "githubApi": {
              "id": "4",
              "name": "GitHub account 2"
            }
          },
          "disabled": true
        },
        {
          "parameters": {
            "mode": "removeKeyMatches",
            "propertyName1": "data.name",
            "propertyName2": "data.name"
          },
          "name": "Merge",
          "type": "n8n-nodes-base.merge",
          "position": [
            -290,
            860
          ],
          "typeVersion": 1,
          "id": "e7c87ecf-f47b-42cc-ad87-86c1d6a44188"
        },
        {
          "parameters": {
            "authentication": "headerAuth",
            "url": "https://huble-dev.herokuapp.com/api/v1/workflows",
            "options": {}
          },
          "name": "Get workflows",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            -1020,
            880
          ],
          "typeVersion": 1,
          "id": "d308fe7e-3f5a-433e-b607-4ea775ea65bb",
          "credentials": {
            "httpHeaderAuth": {
              "id": "2",
              "name": "Header Auth account"
            }
          }
        },
        {
          "parameters": {
            "authentication": "headerAuth",
            "url": "=https://huble-dev.herokuapp.com/api/v1/workflows/{{ $json.id }}",
            "options": {}
          },
          "name": "Get workflow data",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            -620,
            880
          ],
          "typeVersion": 1,
          "id": "d61cf01f-2bbc-4008-8869-81d693c13acd",
          "credentials": {
            "httpHeaderAuth": {
              "id": "2",
              "name": "Header Auth account"
            }
          }
        },
        {
          "parameters": {
            "authentication": "headerAuth",
            "url": "={{$json[\"download_url\"]}}",
            "responseFormat": "string",
            "options": {}
          },
          "name": "Download Raw Content",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            -620,
            1080
          ],
          "typeVersion": 1,
          "id": "e992db9b-3f5b-4be2-a1b5-c4ae939fff4f",
          "credentials": {
            "httpHeaderAuth": {
              "id": "2",
              "name": "Header Auth account"
            }
          }
        },
        {
          "parameters": {
            "functionCode": "const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"
          },
          "name": "transform",
          "type": "n8n-nodes-base.function",
          "position": [
            -830,
            880
          ],
          "typeVersion": 1,
          "id": "fa6d759f-ecbc-4c59-ade3-2467dfe6ca58"
        },
        {
          "parameters": {
            "mode": "removeKeyMatches",
            "propertyName1": "data.updatedAt",
            "propertyName2": "data.updatedAt"
          },
          "name": "Merge1",
          "type": "n8n-nodes-base.merge",
          "position": [
            -250,
            1190
          ],
          "typeVersion": 1,
          "id": "50a7872c-f98a-4f50-845b-b0b5024790f2"
        },
        {
          "parameters": {},
          "id": "df3c5887-ba0e-4779-8bc4-a692f296f7ac",
          "name": "When clicking \"Execute Workflow\"",
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            -1220,
            880
          ]
        }
      ],
      "connections": {
        "Merge": {
          "main": [
            [
              {
                "node": "Create file",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Merge1": {
          "main": [
            [
              {
                "node": "GitHub Edit",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Files": {
          "main": [
            [
              {
                "node": "Transform",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Transform": {
          "main": [
            [
              {
                "node": "Download Raw Content",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "transform": {
          "main": [
            [
              {
                "node": "Get workflow data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get workflows": {
          "main": [
            [
              {
                "node": "transform",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get workflow data": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 0
              },
              {
                "node": "Merge1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Download Raw Content": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 1
              },
              {
                "node": "Merge1",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "When clicking \"Execute Workflow\"": {
          "main": [
            [
              {
                "node": "Get workflows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {},
      "staticData": null,
      "pinData": {},
      "versionId": "b76cbec6-bde5-46f1-9598-a1872d829fef",
      "triggerCount": 0,
      "tags": []
    }
  ],
  "nextCursor": null
}