dev0/Myworkflow.json
{
  "active": false,
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Create file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Files": {
      "main": [
        [
          {
            "node": "Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform": {
      "main": [
        [
          {
            "node": "Download Raw Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transform": {
      "main": [
        [
          {
            "node": "Get workflow data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get workflows": {
      "main": [
        [
          {
            "node": "transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get workflow data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Raw Content": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Get workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-15T13:18:04.082Z",
  "id": "4",
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "YOUR_USERNAME",
        "repository": "REPO_NAME",
        "filePath": "={{$json[\"data\"][\"name\"]}}.json",
        "fileContent": "={{JSON.stringify($json[\"data\"])}}",
        "commitMessage": "=[N8N Backup] {{$json.data[\"name\"]}} ({{new Date(Date.now()).toLocaleDateString()}})"
      },
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        -30,
        1190
      ],
      "typeVersion": 1,
      "id": "ee96b82c-6138-480d-bf65-3f41bc7d7ba7",
      "credentials": {
        "githubApi": {
          "id": "4",
          "name": "GitHub account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "HubleScripts",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflow_backup",
          "mode": ""
        },
        "filePath": "/dev0/Kaiyana_Test0.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "name": "Get Files",
      "type": "n8n-nodes-base.github",
      "position": [
        -1020,
        1080
      ],
      "executeOnce": true,
      "typeVersion": 1,
      "alwaysOutputData": false,
      "id": "acf5bd7e-76a1-44b0-a6f7-7b828783bf59",
      "credentials": {
        "githubApi": {
          "id": "4",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return items[0].json.map(item => {\n  return {\n    json: item\n  }\n});\n"
      },
      "name": "Transform",
      "type": "n8n-nodes-base.function",
      "position": [
        -820,
        1080
      ],
      "typeVersion": 1,
      "id": "830c7cdf-e55e-4072-a8b4-2393b165c870"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "YOUR_USERNAME",
        "repository": "REPO",
        "filePath": "={{$json[\"data\"][\"name\"]}}.json",
        "fileContent": "={{JSON.stringify($node['Merge'].json[\"data\"])}}",
        "commitMessage": "=[N8N Backup] {{$json.data[\"name\"]}}.json ({{new Date(Date.now()).toLocaleDateString()}})"
      },
      "name": "Create file",
      "type": "n8n-nodes-base.github",
      "position": [
        20,
        860
      ],
      "typeVersion": 1,
      "id": "7d29bbda-b35f-443f-8ae3-be39656b6cca",
      "credentials": {
        "githubApi": {
          "id": "4",
          "name": "GitHub account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "removeKeyMatches",
        "propertyName1": "data.name",
        "propertyName2": "data.name"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -290,
        860
      ],
      "typeVersion": 1,
      "id": "e7c87ecf-f47b-42cc-ad87-86c1d6a44188"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://huble-dev.herokuapp.com/api/v1/workflows",
        "options": {}
      },
      "name": "Get workflows",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1020,
        880
      ],
      "typeVersion": 1,
      "id": "d308fe7e-3f5a-433e-b607-4ea775ea65bb",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://huble-dev.herokuapp.com/api/v1/workflows/{{ $json.id }}",
        "options": {}
      },
      "name": "Get workflow data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -620,
        880
      ],
      "typeVersion": 1,
      "id": "d61cf01f-2bbc-4008-8869-81d693c13acd",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$json[\"download_url\"]}}",
        "responseFormat": "string",
        "options": {}
      },
      "name": "Download Raw Content",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -620,
        1080
      ],
      "typeVersion": 1,
      "id": "e992db9b-3f5b-4be2-a1b5-c4ae939fff4f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"
      },
      "name": "transform",
      "type": "n8n-nodes-base.function",
      "position": [
        -830,
        880
      ],
      "typeVersion": 1,
      "id": "fa6d759f-ecbc-4c59-ade3-2467dfe6ca58"
    },
    {
      "parameters": {
        "mode": "removeKeyMatches",
        "propertyName1": "data.updatedAt",
        "propertyName2": "data.updatedAt"
      },
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        -250,
        1190
      ],
      "typeVersion": 1,
      "id": "50a7872c-f98a-4f50-845b-b0b5024790f2"
    },
    {
      "parameters": {},
      "id": "df3c5887-ba0e-4779-8bc4-a692f296f7ac",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1220,
        880
      ]
    },
    {
      "parameters": {},
      "id": "0cebf622-40c0-440a-b00d-594504bbfad0",
      "name": "Action Network",
      "type": "n8n-nodes-base.actionNetwork",
      "typeVersion": 1,
      "position": [
        -780,
        1280
      ],
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-03-30T07:36:13.227Z",
  "versionId": "314c1d92-d07a-4b4e-a599-4e7dc7d95b48"
}